header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
}

nav li{
    padding: 8px;
    display: flex;
    justify-content: center;
    margin: 10px;
    font-family: 'Space Mono', monospace;
    border: 2px solid rgb(48, 33, 33);
    background-color: white;
}

nav a{
    color: black;
  }

li a:visited{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
}

li a { 
    text-decoration: none;  
    color: black;
}

.active{
    background-color: rgb(176, 179, 223);
    text-transform: uppercase;
    text-decoration: black wavy underline;
    text-shadow: 2px 0px 0px whitesmoke;
}

a.skip{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: -500px;
    color: black;
    text-decoration: none;
}

a.skip:focus {
    top: 20px;
    left: 0px;
  } 

body{
    background-color: whitesmoke;
}

#bodyLifestyle, #bodyPhotography{
    background-image: url('../images/lines.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1{
    font-size: 30px;
    font-family: 'Space Mono', monospace;
    margin: 20px;
    text-align: center;
}

h2{
    font-size: 24px;
    font-family: 'Space Mono', monospace;
    margin: 20px;
    text-align: center;
}

p {
    line-height: 25px;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
}

footer{
    background-color: rgb(176, 179, 223);
    padding: 10px;
}

footer p {
    margin: 5px;
    text-align: center;
}

img{
    margin: 30px;
    width: 150px;
    border: 3px dashed rgb(48, 33, 33);
    padding: 10px;
    border-radius: 8px;
}

img:hover:nth-child(2n) {
    border: 3px dashed rgb(140, 144, 207);
    opacity: 0.2;
}

.destinations{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

.foods{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.headshot{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    animation-name: spin;
    animation-duration: 3s;
}


.flip-google img{
    height: 100px;
    width: 100px;
}

.flip-paypal img{
    height: 100px;
    width: 100px;
}

@keyframes spin{
    0% {transform: rotate(0deg); opacity:0;}
    100% {transform: rotate(720deg); opacity:1;}
}

input[type=text], input[type=number], input[type=email]{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(140, 144, 207);
    background-color: whitesmoke;
  }

button[type=submit]{
    width: 70px;
    padding: 8px;
    font-family: 'Space Mono', monospace;
    border-radius: 20px;
    margin-bottom: 20px;
}

label{
    font-family: 'Space Mono', monospace;
}

textarea{
    padding: 10px 15px;
    margin: 8px 0;
    height: 50px;
    background-color: whitesmoke;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formIntro
{
    display: flex;
    justify-content: center;
    text-align: center;
}

.question{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Space Mono', monospace;
    padding: 2px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    text-align: center;
}

.options{
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-bottom: 20px;
}

.first-three{
    display: flex;
    flex-direction: column;
}

.video{
    display: flex;
    justify-content: center;
}

.icons a{
    border: none;
    text-decoration: none;
    color:rgb(0, 0, 0);
    padding-right: 2px;
    padding-left: 2px;
} 

.photosText, .lifestyleText{
    background-color: whitesmoke;
}

header > span {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    background-color: rgb(189, 192, 236);
    padding: 2px;
    margin-top: 10px;
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade{
    0% {opacity:0;}
    50% {opacity: 0.5;}
    100% {opacity:1;}
}

.work-content{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
}

.work-content1 {
    margin-top: 0px;
}

.flip-paypal, .flip-google {
    background-color: transparent;
    width: 185px;
    height: 180px;
    margin: 20px;
}
  
.flip-paypal-inner, .flip-google-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.2s;
    transform-style: preserve-3d;
}
  
.flip-paypal:hover .flip-paypal-inner, .flip-google:hover .flip-google-inner {
    transform: rotateY(180deg);
}
  
.flip-paypal-front, .flip-paypal-back, .flip-google-front, .flip-google-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-paypal-back, .flip-google-back {
    background-color: rgb(229, 230, 243);
    color: rgb(2, 2, 2);
    transform: rotateY(180deg);
    border: 3px dashed rgb(48, 33, 33);
    border-radius: 8px;
}

.flip-paypal:focus-within .flip-paypal-inner, .flip-paypal:active .flip-paypal-inner, .flip-paypal:focus .flip-paypal-inner {
    transform: rotateY(180deg);
} 

.flip-google:focus-within .flip-google-inner, .flip-google:active .flip-google-inner, .flip-google:focus .flip-google-inner {
    transform: rotateY(180deg);
} 

.destinations span {
    display: grid;
    flex-wrap: wrap;
    background-color: rgb(192, 195, 236);
    font-family: 'Roboto', sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

.lightbox .lb-image {
    margin: 0px;
    padding: 0px;
}
  
.beijing span, .bela-bela span{
    margin-bottom: 20px;
}

@media screen and (min-width: 720px){
    header ul{
        display: flex;
        flex-direction: row;
    }

    .first-three{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
    }

    .next-two{
        display: flex;
        flex-direction: row;
    }

    .question-opt{
        display: flex;
        flex-direction: column;
    }

    textarea{
        width: 400px;
    }

    .headshot-video{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 40px;
       
    }

    .lightbox .lb-image {
        margin: 0px;
        padding: 0px;
    }

    .work-content1{
        grid-row: 1 / 2;
    }

    .flip-paypal{
        grid-row: 2 / 3;
    }

    .work-content2{
        grid-row: 3 / 4;
    }

    .flip-google{
        grid-row: 4 / 5;
    }

    .destinations{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .bela-bela{
        grid-column: 2 / 3;
    }

    .foods{
        flex-direction: row;
    }

    object{
        width: 430px;
        height: 300px;
    }


}

@media screen and (min-width: 1000px){
    header{
        flex-direction: row-reverse;
        justify-content: end;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 5px;
    }

    .photosText, .lifestyleText{
        display: flex;
        flex-direction: column;
        padding-right: 80px;
        padding-left: 80px;
        text-align: center;
    }

    .foods{
        flex-direction: row;
    }

    .destinations{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
        flex-wrap: wrap;
        margin-right: 20px;
        margin-left: 20px;
    }

    .destinations div{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .beijing{
        grid-column: 2 / 3;
    }

    .bela-bela{
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    .destinations span{
        word-wrap: break-word;
    }

    .work-content{
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        text-align: justify;
    }

    .work-content1{
        grid-area: 1 / 2 / 2 / 4;
        margin-bottom: 10px;
        margin-right: 50px;
    }

    .flip-paypal{
        grid-area: 1 / 1 / 2 / 2;
        margin-left: 50px;
    }

    .work-content2{
        grid-area: 2 / 2 / 3 / 4;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 50px;
    }

    .work-content2 p{
        margin-top: 30px;
    }

    .flip-google{
        grid-area: 2 / 1 / 3 / 2;
        margin-left: 50px;
    }

    .main-content{
        padding-right: 80px;
        padding-left: 80px;
        text-align: center;
    }

    .headshot-video{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 50px;
    }

    .video{
        margin-left: 100px;
    }

    object{
        width: 600px;
        height: 300px;
    }

    .first-three{
        display: flex;
        flex-direction: row;
    }

    .next-two{
        display: flex;
        flex-direction: row;
    }

    .question-opt{
        display: flex;
        flex-direction: column;
    }

    .options{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    textarea{
        width: 700px;
    }

    .lightbox .lb-image {
        margin: 0px;
        padding: 0px;
    }

    .destinations img{
        height: auto;
        width: 170px;
    }


}

@media screen and (prefers-reduced-motion: reduce){

    .headshot{
        animation-duration: 0s;
    }

    header > span {
        animation-duration: 0s;
    }

    /* flip card add */
    .flip-google-back, .flip-paypal-back{
        display: none;
    }

    .flip-paypal:hover .flip-paypal-inner, .flip-google:hover .flip-google-inner{
        transform: none;
    }

    .flip-paypal:focus-within .flip-paypal-inner, .flip-paypal:active .flip-paypal-inner, .flip-paypal:focus .flip-paypal-inner {
        transform: none;
    } 
    
    .flip-google:focus-within .flip-google-inner, .flip-google:active .flip-google-inner, .flip-google:focus .flip-google-inner {
        transform: none;
    } 

    .destinations span{
        animation-duration: 0s;
    }

    #bodyLifestyle, #bodyPhotography{
        background-attachment: initial;
    }

    html{
        scroll-behavior: auto; 
    }

    a.skip {
        -webkit-transition: initial; 
        transition: initial; 
    }
    

}